*{
    margin: 0%;
    padding: 0%;
    
}
h1{border: brown;
    
      color: black;
    width: 100%;
    height: 100vh;
text-align:center;



}
.timg{
    width: 350px;
    height: 400px;
    background-color:rgb(30, 163, 216);
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
transform: translate(-50%,-50%);
box-shadow: black;
}

    




body{
    background-image: url(img/photo1.jpg);
    background-repeat: repeat-y;
background-size: 100% 100%;
background-attachment: fixed;
}
form{ 
    margin: 1%;
    
    color: black;
    width: 100%;
    height: 100vh;
text-align:center;
text-align-last: center;
position: absolute;
top: 10%;


}